:root{
    --oddbg: rgb(73, 65, 222);
    --even: rgb(46, 83, 231);
}

.country{
    border: 1px solid black;
    height: 150px;
}

.country:nth-child(odd){
    float: left;
    width: 50%;
}
.country-btn{
    background-color: none;
    height: 150px;
    width: 203px;
}
.mask{
    width: 45px;
    height: 45px;
}
.arrow-right{
    float: right;
    width: 25px;
}
.country-name{
    float: right;
}
